<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Page layout</title>
<link rel="stylesheet" href="../static/CSS/bootstrap.min.css"
	th:href="@{CSS/bootstrap.min.css}">
</head>
<body>


<!-- A vertical navbar -->
<nav class="navbar bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
  <li class="active"><a href="#">Home</a>
    <li class="nav-item">
      <a class="nav-link" href="#">Cients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Page 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Page 3</a>
    </li>
  </ul>

</nav>
<section layout:fragment="content1">

</section>

<footer>
<div>

</div>


</footer>

</body>
</html>